<div ng-init="getAll(); actualizarCarrito()">
    <h1 style="text-align: center;">Carrito de compras</h1>
    <md-card ng-repeat="item in items">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.nombre}} - {{item.precio | currency: '$'}}</span>
                <span class="md-subhead">{{item.descripcion}}</span>
                <span class="md-subhead">Cantidad máxima: {{item.cantidad}}</span>
                <md-input-container>
                    <label>Cantidad</label>
                    <input ng-model="item.mincant" ng-change="actualizarCarrito()" type="number" min="0" [max="item.cantidad" ]>
                </md-input-container>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-md card-media">
                    <img src="/assets/img/buy-now.png" alt="buy-now">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="quitarProducto(item)" aria-label="Detalle">
                <md-icon class="md-accent">delete_forever</md-icon>
            </md-button>
            <h2>Subtotal {{item.precio * item.mincant | currency: '$'}}</h2>
        </md-card-actions>
    </md-card>
    <md-card layout="column" layout-align="center center">
        <md-card-title style="align-self: flex-start;">
            <h1>Total: {{total | currency: '$'}}</h1>
        </md-card-title>
        <md-card-content layout="row" layout-align="center center">
            <h2> Proceder con el pago: </h2>
            <md-button class="md-icon-button" ng-click="pagar()" aria-label="Pagar">
                <md-icon class="md-accent">payment</md-icon>
            </md-button>
        </md-card-content>
        <md-chips ng-show="mensaje" class="md-warn">
            <md-chip>{{mensaje}}</md-chip>
        </md-chips>
    </md-card>


</div>