[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar .logo {
  height: 35px;
  margin-right: 10px;
}

md-toolbar h1 {
  margin: auto;
  color: #ffffff;
}

/* Sidenav area */
md-sidenav {
  width: 250px;
}

md-sidenav md-list {
  margin: 20px 0;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: rgb(255,171,64);
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */
#content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Utils */
.content-wrapper {
  position: relative;
}