<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{title}} de {{venta.nombre}} ({{venta.user}}) | {{venta.creado | date}} |</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-repeat="producto in venta.detalle">
        <h1>Nombre: {{producto.nombre}}</h1>
        <h3>Descripción: {{producto.descripcion}}</h3>
        <div>
            <h2>Precio: {{producto.precio}}</h2>
            <h2>Cantidad: {{producto.cantidad}}</h2>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="regresar()">Regresar</md-button>
    </md-card-actions>
</md-card>