<md-card>
    <form ng-submit="recargar()">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Recargar saldo</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <label>Cantidad</label>
                <input ng-model="cartera.cantidad" type="number" step="any">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Aceptar</md-button>
        </md-card-actions>
    </form>
</md-card>